[submodule "frontend"]
	path = frontend
	url = https://github.com/Remote-Racer/Project-TAGGER-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Remote-Racer/Project-TAGGER-Backend.git
